certifi
chardet
click
cycler
itsdangerous
MarkupSafe
Jinja2
Werkzeug
datetime
zope.interface
six
idna
urllib3
requests
numpy
matplotlib
Pillow
opencv-python
pandas
scipy
imutils
tkinterhtml
playsound
PyAutoGUI
PyGetWindow
PyMsgBox
pyparsing
pyperclip
PyRect
PyScreeze
python-dateutil
PyTweening
pytz
wincertstore
MouseInfo
Flask